################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/*
/ConsultaMedica.Shared/obj/*
/ConsultaMedica.Logic/bin/*
/ConsultaMedica.Data/bin/*
/ConsultaMedica.Data/obj/*
/ConsultaMedica.Logic/obj/*
ConsultaMedica.WebUI/bin/ConsultaMedica.Data.pdb
ConsultaMedica.WebUI/bin/ConsultaMedica.Data.dll
ConsultaMedica.WebUI/bin/ConsultaMedica.Data.pdb
ConsultaMedica.WebUI/bin/ConsultaMedica.WebUI.dll
ConsultaMedica.WebUI/bin/ConsultaMedica.WebUI.pdb
ConsultaMedica.WebUI/obj/Debug/ConsultaMedica.WebUI.csprojAssemblyReference.cache
ConsultaMedica.WebUI/obj/Debug/ConsultaMedica.WebUI.dll
ConsultaMedica.WebUI/obj/Debug/ConsultaMedica.WebUI.pdb
ConsultaMedica.WebUI/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ConsultaMedica.Logic/obj/Debug/ConsultaMedica.Logic.csprojAssemblyReference.cache
