################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/*
packages/*
/ConsultaMedica.Data/obj/*
ConsultaMedica.Data/bin/*
ConsultaMedica.Logic/obj/*
ConsultaMedica.Logic/bin/*
ConsultaMedica.Shared/obj/*
ConsultaMedica.Shared/bin/*
ConsultaMedica.WebUI/obj/*
ConsultaMedica.WebUI/bin/*
